{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% for i in product_list %}
    <div class="card" style="width: 18rem; margin:5px">
        <img src="{% if i.image %}
        {{ i.image.url }}
        {% else %}
        {% static 'images/phone.jpg' %}
        {% endif %}
" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ i.tittle }}</h5>
            <p class="card-text">{{ i.description }}</p>
            <a href="/products/{{ i.id }}" class="btn btn-primary">More about product</a>
        </div>
    </div>
        {% endfor %}
        {% endblock %}
