{% extends 'layout.html' %}
{% load static %}
{% block content %}

<h1>Product Details</h1>
<div class="product">
       <a href="/">
           <h4>Main Page</h4>
       </a>
        <h2>{{product.tittle}}</h2>
        <p><strong>{{product.description}}</strong></p>
        <p class="price"><strong>{{product.price}}</strong></p>
        <p class="updated"><strong>{{product.updated}}</strong></p>
        <div>
        <p>Sizes</p>
        {% for size in product.sizes.all %}
        <a>{{ size.name }}</a>
        {% endfor %}
    </div>
    </div>
<h5>Review Products</h5>
<ul>
    {% for i in reviews %}
        <li>
            <p>Author: {{ i.author }}</p>
            <p>Text: {{i.text}}</p>
            <p>Stars: {{i.stars}}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}